#window{
	background-color: blue;
	width: 990px;
	height: 600px;
	border: 10px ridge rgb(17, 220, 33);
}
#board{
	position: relative;
	background-color: rgb(0,255,255);
	width: 100px;
	height: 20px;
	border-radius: 10px;
	border: solid 2px;
}
#ball{
	position: relative;
	background-color: red;
	width: 24px;
	height: 24px;
	border-radius: 12px;
}
